.chart-option-tab {
    display: inline-block;
    padding: 7px 10px;
    margin:7px 8px 7px 0px;
    background: white;
    border-radius: 8px;
    color: var(--color-secondary);
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    user-select: none;

}

.chart-option-tab:hover,.chart-option-tab.selected {
    background: rgb(243, 243, 247);
    font-weight: 700;
    color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

   
}