.scientific-team {
    position: relative;
}

.scientific-team-hover-content {

    top: 0;
    left: 0;
    height: 230px;
    width: 100%;
    border: none;
    border-radius: 12px 12px 0 0;
    display: none;
    position: absolute;
    
   

}

.scientific-team-hover-content-inner-div {
    overflow-y: auto;
    width: 100%;
    height: 100%;
     
    color:white;
    text-align: justify;

}
.scientific-team:hover .scientific-team-hover-content {
    display: block;
    
}

.director-image-div{
    position: absolute;
    top: 12px;
    
    left: -10px;
}
.why-choose-us-image-div-parent-div {
    height: 332px;
}

.director-image-div-parent-div{
    height: 332px;

}
.why-choose-us-image-div{
    position: absolute;
    top: -68px;
    left: -10px;   
}

