.heading-text-popular-tests{
    color: #003747  ;
    font-size: 22px;
    margin: 0 0 20px;
    padding: 0;
    /* font-family: Inter Medium; */
}

.popular-tests-link-div {
    background: #f9f9f9;
    padding: 40px 0px;
    margin: 0;
    width: 100%;
   
}

.links-test{
    color: #97979a;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: Inter Regular !important;
 
}

.side-bar-text :last-child{
    display: none;
}

.dashed-2 {
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px);
  }