.rmdp-day:has(.in-service) {
    background-color: white !important;
    border-radius: 50%;
    color: white !important;
    cursor: default;
    border: none;
    box-shadow: none;
}

span.in-service {
    background-color: #cc0303 !important;
    border-radius: 50%;
    cursor: default;
}



.view-slots-section {
    border: 0.5px solid #3939392c;
    border-radius: 6px;
    width: 100%;
    min-height: 290px;
    padding: 10px;
}

.view-slots-section .loading {
    text-align: center;
    padding: 94px;
}

.view-slots-section .no-content-found p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    color: rgb(102, 102, 135);
    text-align: center;
    margin-bottom: 0px;
  }
  .view-slots-section .no-content-found {
    text-align: center;
    padding: 64px;
  }