.upcoming-slots-section {
  width: 100%;
}

.upcoming-slots-section .date-section {
  width: 100%;
}
.upcoming-slots-section .date-block {
  width: 120px;
  display: inline-block;
}
.upcoming-slots-section .date-block p {
  width: 100%;
  text-align: center;
}
