.input-heading {
    user-select: none;
    font-size: 12px;
    font-weight: 500;
    color: #0F0F0F;
}

.call-button {
    background-color: #003747;
    color: white;
}

.call-button:hover {
    background-color: #21cdad;
    color: white;
}

.apply-now-section {
    width: 80%;
    margin: 0 auto
}
.career-job-form{
    width: 60%
}
.below-fill-form-text{
    width: 60%;

}
.fill-form-text{
    width: 70%;
}
@media screen and (max-width: 390px) {
    .apply-now-section {
        width: 100%;
        
    }
    .career-job-form{
        width: 100%
    }
    
    .below-fill-form-text{
        width: 100%;
    
    }
    .fill-form-text{
        width: 100%;
    }
  
}