.Header-heading{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 0 0 15px;
    padding: 0;
 }

.Header-desc{
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.middle-tabs{
    padding: 10px 10px;
}

.job-form-box {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 15px;
    margin: 0;
}

.job-form-box h4 {
    font-size: 25px;
    color: #000;
    text-align: left;
    padding-bottom: 14px;
    margin-bottom: 0;
    font-family: Inter SemiBold;
    z-index: 1;
    position: relative;
    display: block;
    letter-spacing: 0;
}

.career-form-box input, textarea {
    height: 42px;
    padding-left: 15px;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .08);
    background: var(--Base-On-Background, #fff);
    outline: none;
    text-align: left;
}

.career-form-box .radios {
    font-size: 17px;
    color: #7c7c7c;
    margin-bottom: 5px;
    font-family: Inter Medium;
}